.label {
    display: inline-block;
    width: 150px; /* adjust this as needed */
    text-align: right;
    margin-right: 10px; /* space between label and input */
}

.signupWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.formField {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error {
    display: inline-block;
    color: red;
    margin-left: 10px; /* adjust this as needed */
}

.errorModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}
.title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.verticalLine {
    border-left: 2px dotted white; /* Add a left border with 2px width and dotted style */
    height: 100%; /* Set the height to 100% to make it fill the container */
    margin-right: 20px; /* Add some right margin to separate the line from the content */
}
